<br>

<div class="container">
    <div class="card-body">
        <b>
            <h2 class="mb-2">Welcome Admin</h2>
        </b>

        <br>

        <p class="card-text">The Administrative Portal offers a centralized platform for quiz coordinators to manage,
            curate, and monitor quizzes. With user-friendly interfaces, coordinators can easily craft questions, set
            time limits, analyze participant responses, and derive insights. It ensures smooth operations, real-time
            monitoring, and fosters enhanced participant engagement. Navigate effortlessly and elevate your quizzing
            experience.</p>
    </div>

    <br>
    <br>

    <div class="row col-md-10 m-auto">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body text-white" style="background-color: rgb(15,16,86);">
                    <h5 class="card-title">View Users</h5>
                    <hr>
                    <p class="card-text">View all the registered user here. To view click od the button</p>
                    <a routerLink="/viewall" class="btn btn-light">View All User</a>
                </div>
            </div>
        </div>


        <div class="col-md-3">
            <div class="card">
                <div class="card-body text-white" style="background-color: rgb(15,16,86);">
                    <h5 class="card-title">Add new users</h5>
                    <hr>
                    <p class="card-text">Admin can add a new user If needed. Click on the button to add new user</p>
                    <a routerLink="/register" class="btn btn-light">Add New User</a>
                </div>
            </div>
        </div>


        <div class="col-md-3">
            <div class="card">
                <div class="card-body text-white" style="background-color: rgb(15,16,86);">
                    <h5>Add New Question</h5>
                    <hr>
                    <p class="card-text">To add a new Question Click on the button. Choose a subject first</p>
                    <a routerLink="/addque" class="btn btn-light">Add Question</a>
                </div>
            </div>
        </div>


        <div class="col-md-3">
            <div class="card">
                <div class="card-body text-white" style="background-color: rgb(15,16,86);">
                    <h5>View Questions</h5>
                    <hr>
                    <p class="card-text">You can View all the Questions & Answers here and manage</p>
                    <a routerLink="/que" class="btn btn-light">View Questions</a>
                </div>
            </div>
        </div>
    </div>

</div>