<!-- <div *ngIf="authService.currentUserValue?.email === 'admin'"> -->
<div *ngIf="isAdmin">

  <nav class="navbar navbar-expand-lg text-light fixed-top navbar-dark" style="background-color: rgb(15,16,86);">
    <div class="container-fluid ms-5 me-5">
      <a class="navbar-brand" href="#">OnlineQuizApp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/viewall">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/register">AddUser</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/addque">AddQuestion</a>
          </li>
        </ul>

        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-success" type="submit">Search</button>
        </form>

        &nbsp;

        <button class="btn btn-danger" *ngIf="authService.currentUserValue" (click)="logout()">Logout</button>

      </div>
    </div>
  </nav>

</div>

<!-- ========================================================================================= -->
<!-- User Nav -->
<!-- ======================= -->

<!-- <div *ngIf="authService.currentUserValue?.role === 'user'"> -->
<div *ngIf="isUser">
  <nav class="navbar navbar-expand-lg text-light fixed-top navbar-dark" style="background-color: rgb(15,16,86);">
    <div class="container-fluid ms-5 me-5">
      <a class="navbar-brand" routerLink="/">OnlineQuizApp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="#">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/login"
              *ngIf="!authService.currentUserValue">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" *ngIf="authService.currentUserValue"
              routerLink="/score">Result</a>
          </li>

        </ul>

        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-success" type="submit">Search</button>
        </form>

        &nbsp;

        <button class="btn btn-danger" *ngIf="authService.currentUserValue" (click)="logout()">Logout</button>

      </div>
    </div>
  </nav>

</div>

<!-- ========================================================================================= -->

<!-- for user icon -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- ========================================================================================= -->

<br>
<br>

<router-outlet></router-outlet>