<br>

<div class="container">
    <br>
    <br>
    <div class="card col-md-4 m-auto" style="border-radius: 1rem;">
        <div class="card-body p-4 p-lg-4 text-black">
            <form [formGroup]="userform" (ngSubmit)="CreateNewUser()">

                <div class="d-flex align-items-center mb-1 pb-2">
                    <h4 class="fw-bold">New User Form</h4>
                </div>

                <h6 class="fw-normal mb-3 pb-2" style="letter-spacing: 1px;">Sign-up your account
                </h6>

                <div class="form-outline mb-4">
                    <input type="text" formControlName="username" class="form-control" [ngModel]
                        placeholder="User Name" />
                    <span class="errorinfo"
                        *ngIf="userform.controls.username.touched && userform.controls.username.invalid">
                        <b>User's name is Required</b>
                    </span>
                </div>

                <div class="form-outline mb-4">
                    <input type="email" formControlName="email" class="form-control" placeholder="Email" />
                    <span class="errorinfo" *ngIf="userform.controls.email.touched && userform.controls.email.invalid">
                        <b>Email is Required</b>
                    </span>
                </div>

                <div class="form-outline mb-4">
                    <input type="password" formControlName="password" class="form-control" placeholder="Password" />
                    <span class="errorinfo"
                        *ngIf="userform.controls.password.touched && userform.controls.password.invalid">
                        <b>Password is Required</b>
                    </span>
                </div>

                <div class="">
                    <input type="submit" value="Register" class="btn btn-dark text-center" />
                    &nbsp;
                    <input type="reset" value="Reset" class="btn btn-dark text-center" />
                </div>
                <div [innerHTML]="msg"></div>
            </form>
        </div>
    </div>
</div>